<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
</head>
<body>
<section class="section">
	<div class="container">
		<h1 class="title">
			{{ title }}
		</h1>

		<p class="subtitle">
			by {{ author }} <span class="date"> {{ date }}</span> - {{#each tags }}
            {{#if this.hasPosts }}
                <span class="tag is-primary is-right"><a
                        class="has-text-white"
                        href="/tags/{{this.url}}/{{this.url}}1.html"
                        title="All {{ this.postCount}} posts tagged '{{this.label}}'">{{ this.label }}</a></span>
            {{else}}
                <span class="tag is-primary is-right">{{ this.label }}</span>
            {{/if}}
        {{/each}}
		</p>
		<div class="content">
			{{{ content }}}
		</div>
	</div>
</section>
</body>
</html>
