<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
</head>
<body>
<h1>{{ title }}</h1>
<div class="byline">
	<p>by {{ author }} <span class="date"> {{ date }}</span> - <span class="tags"> {{ tags }}</span></p>
</div>
<div class="content">
	{{{ content }}}
</div>
</body>
</html>